body {
    background-image: url('./image/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f2f2f2;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    color: white;
}
.hp{
    width: 50px;
}
.happy{
    height: 55px !important;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="Amount"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

.button {
    background-color: red !important;
    border: 1px solid red !important;
    color: #fff !important;
    font-size: 1.3rem !important;
    cursor: pointer;
    line-height: 1.15 !important;
    padding: 0.15rem 0.75rem !important;
}
.vdate{
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 20px;
}
.dt{  
    font-size: 16px;  
    margin: auto; 
    width: auto !important;
    background-color:white ; 
    padding: 2px 10px; 
    color: black;
    font-weight: 700;
}
.tc{
    background-color: #044994; 
    color: white; 
    text-align: center; 
    margin: auto; 
    width: 70%; 
    padding: 5px 10px;
    text-decoration: none;
}
.copyright{
    background-color: red;
    margin: 0;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.90rem;
}
/* @media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 30px;
    }
} */

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer{
    /* position:absolute; */
   bottom:0px;
   width:100%;
}
.pumpname, .thankyou {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: white;
    font-size: 1.65em;
    text-align: center;
    font-weight: 900;
}
.thankyou{
    font-size: 2.95em;
    font-weight: 900;
}
.thankyou span {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
}
.header h1 {
    margin: 0;
    font-size: 24px;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
    .header h1 {
        font-size: 20px;
    }
}

.header {
    background-color: #044994;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo {
    display: inline-block;
    margin: 0;
    font-size: 24px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
    .logo {
        font-size: 20px;
    }
}

.ex3 {
    background-color: white;
    color: black;
    padding: 20px;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 245px);
    border-radius: 10px;
}
li.list-group-item {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.65;
}
li {
    list-style-type: none;
}